@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-main: #E4E4E4;
  --bg-dark: #141414;
  --bg-green: #11891C;
}

body {
  /*font*/
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;

  /*Bg*/
  background-color: var(--bg-main);
}

main{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  /*bg*/
  background: var(--bg-main);
}

header{
  /*size adjustments*/
  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;

  /*colors*/
  background-color: var(--bg-dark);
  color: var(--bg-main);

}

.box-login{
  /*Caixa-Login*/
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 20px;
  width: 300px;

  background-color: var(--bg-dark);
  color: var(--bg-main);
  border-radius: 8px;
}

.input-login,
.input-password{
  display: flex;
  flex-direction: column;
}

input{
  border: none;
  background-color: var(--bg-main);
  height: 26px;

  border-radius: 50px;
  padding: 10px;
}

.btn-login{
  border: none;
  width: 100px;
  height: auto;
  padding: 6px;
  border-radius: 5px;
  align-self:center;

  background-color: var(--bg-green);
  color: var(--bg-main);
  font-weight: 700;
}