@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-main: #0d131a;
  --bg-white-border: #ffffff50;
  --bg-white: #ffffff;
  --bg-green: #248636;
}

body {
  /*font*/
  font-family: "Space Mono", monospace;
  background-color: var(--bg-main);
}

main{
  margin-top: 80px;
}

header{
  /*size adjustments*/
  width: 100%;
  padding: 10px;
  font-size: 12px;

  display: flex;
  justify-content: space-between;

  /*colors*/
  background-color: var(--bg-dark);
  border-bottom: 0.1px solid var(--bg-white-border);
  color: var(--bg-white);
}

.login-conrainer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 50px)
}

.login-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: var(--bg-white);
}

.login-txt {
  font-size: 32px;
  margin-bottom: 20px;
  font-weight: 500;
}

.input-group{
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  text-align: left;
}

input{
  border: 1px solid var(--bg-white-border);
  background-color: var(--bg-main);
  border-radius: 8px;

  width: 500px;
  height: 50px;
  padding: 8px;
  color: var(--bg-white);
}

.btn-login{
  width: 500px;
  height: 50px;
  margin-top: 10px;
  border: none;
  border-radius: 8px;
  background-color: var(--bg-green);
  color: var(--bg-white);
  cursor: pointer;
}

.btn-login:hover{
  opacity: 0.9;
  transition: 1s;
}

.forgot a{
  font-weight: 800;
  text-decoration: none;
  color: #5b7fe4;
}

.forgot a:hover{
  text-decoration: underline;
}